<div class="row homepage-container">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <h2>Create Your League</h2>

    <%= simple_form_for @league do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="custom-form-group">
          <%= f.input :name,
                      autofocus: true,
                      label: "League's name",
                      label_html: { class: "login-form-label" },
                      input_html: { class: "login-form-input" } %>
        </div>
      </div>
      <div class="form-actions flexbox-column">
        <%= f.button :submit, "Submit", class: "main-button" %>
      </div>
    <% end %>


  </div>
</div>
