

<h1 class="party-header"><%= @league.name %></h1>

<!-- Upper container -->
<div class="party-statistics">
  <div class="party-numbers">
    <h4>Members</h4>
    <p><%= @league.political_parties.count %></p>
  </div>
  <div class="league-leader">
    <h4>Leagues</h4>
    <ul class="party-leagues">
      <li>League 1</li>
      <li>League 2</li>
      <li>League 3</li>
    </ul>
  </div>
</div>

<!-- Lower container -->

<h4>Political parties in that league</h4>
<% @league.political_parties.each do |political_party| %>
  <p><%= political_party.name %></p>
<% end %>




