  <div class="container">
    <div class="league-table">
      <h1><%= @league.name %></h1>
      <% @league.political_parties.each do |political_party| %>
        <%= link_to '#' do %>
          <div class="league-card">
            <%= political_party.name  %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>

