<div class="grid">
  <header>
    <%= current_user.political_parties.last.name %>
  </header>

  <aside class="sidebar-left">
    <!-- Left Sidebar -->
  </aside>

  <article>

   <!-- main content here -->
  <% current_user.politicians.each do |politician| %>

  <% end %>
  </article>

  <aside class="sidebar-right">
    <!-- Right Sidebar -->
  </aside>

  <footer>

  </footer>
</div>


