<div class="grid">
  <header>
    Here are you parties <%= current_user.username  %>
  </header>

  <aside class="sidebar-left">
    <!-- Left Sidebar -->
  </aside>

  <article>
   <!-- main content here -->
    <ul>
    <% @political_parties.each do |political_party| %>
      <li><%= political_party.name %></li>
    <% end %>
    </ul>

  </article>

  <aside class="sidebar-right">
    <!-- Right Sidebar -->
  </aside>

  <footer>
    Footer
  </footer>
</div>


