<div class="row homepage-container">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <h2>My political party</h2>
    <%= render 'form', political_party: @political_party %>

    <%= link_to "Add party members", new_politician_link_path %>
  </div>
</div>
