// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


// App custom colours
$app-red: #DB5461
$app-blue: #55DDE0
$app-green: #67E191
$app-yellow: #F7D045
$app-lilac: #D4A6DD
$app-gray: #3F3B3B
