<h2>Hello <%= @user.first_name.capitalize %>,</h2>

<p>Oh wow - your brand new league has just been created- how exciting!</p>
<p>All you need to do now is to invite your participate!</p>

<div></div>
<p>With Best Wishes,</p>
<p>Fantasy Politics</p>
