<h2>Hi <%= @user.first_name.capitalize %>,</h2>

<p>We are so glad you've joined Fantasy Politics.</p>
<p>We wish you loads of fun and hope your political party will do well - all the Best in the comming elections!</p>

<p>With Best Wishes,</p>
<p>Fantasy Politics</p>
