.league-table {
  // display: flex;
  h1 {
    color: #DB5461;
  }
}


// .container {
//   margin-left: 200px;
//   margin-right: 200px;
// }


.container{
 color: #C4C4C4;
 padding: 10px;
 margin: 10px;
}
.name{
 background-color: red;
 font-size: 18px;
 line-height: 19px;
 font-weight: lighter;
}
.league-number{
 font-size: 50px;
 line-height: 51px;
 font-weight: lighter;
}
.party-members{
 text-align: left;
}
.party-members-count{
 font-weight: lighter;
 }
