* {
  margin: 0;
  padding: 0;
}

.rage{
  body {
    background: #f2f2f2;
  }
}

#canvas {
  display: block;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.rage{
  span, div {
    position: absolute;
    color: #aaa;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    font-weight: lighter;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
}

.rage{
  div {
    bottom: 60px;
    &:nth-of-type(2) {
      bottom: 20px;
      button {
        font-size: 14px;
        padding: 4px 8px;
      }
    }
    a {
      text-decoration: none;
      color: #2266bb;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
