<div class="grid">
  <header>
    Hello <%= current_user.username  %>
  </header>

  <aside class="sidebar-left">
    <!-- Left Sidebar -->
  </aside>

  <article>
    <!-- main content here -->
  </article>

  <aside class="sidebar-right">
    <!-- Right Sidebar -->
  </aside>

  <footer>
    Footer
  </footer>
</div>
