 <div class="container">
    <div class="league-table">
      <h1><%= @politicians_scores.politician_id %></h1>
      <% @politician_scores.each do |politician_score| %>
        <%= link_to '#' do %>
          <div class="league-card">
            <%= politician_score.politician_id.first_name  %>
            <%= politician_score.politician_id.last_name  %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
