<!-- <head>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.css">
</head>
<div id="searchbox"><input id="search-input" placeholder="search here"></div>
<div id="hits"></div>
<div id="pagination"></div>

<script type="text/html" id="hit-template">
    <div class="hit">
      <p class="hit-name">{{{_highlightResult.first_name.value}}} {{{_highlightResult.last_name.value}}}</p>
    </div>
  </script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.js"></script>
  <script src="app.js"></script> -->

<form action="/search_results" method="get">
  <input type="text" name="query" placeholder="Search here">
  <input type="submit" value="Search">
</form>
