<div class="banner banner-flexbox">
  <h1>FANTASY POLITICS</h1>
    <p>Become a political player</p>
    <%= image_tag "skyline_cropped.png", id: "skyline" %>
    <%= link_to new_user_registration_path do %>
      <p class="home-button">Sign Up</p>
    <% end %>
</div>
