<h2>Instructions</h2>
 <p class="text-allign-center">The scoring is done on the number of mentions in the news - </p>
 <p class="text-allign-center-small"> any publicity is good publicity!</p>
<div class="instruction-container">
  <div class="first-div">
      <p>1 - 100 mentions = 1 point</p>
      <p>101 - 200 mentions = 2 points</p>
      <p>201 - 300 mentions = 3 points</p>
      <p>301 - 400 mentions = 4 points</p>
      <p>401 - 500 mentions = 5 points</p>
      <p>501 - 600 mentions = 6 points</p>
      <p>601 - 700 mentions = 7 points</p>
      <p>701 - 800 mentions = 8 points</p>
      <p>801 - 900 mentions = 9 points</p>
      <p>901 - 1000 mentions = 10 points</p>
      <p>1001+ mentions = 11 points</p>
  </div>
  <div class="second-div">
    <p>Politicians like the Prime Minister will of course be scoring highly, because of their prominent public status. So to even out the playing field, scores are factored as follows:</p>
    <br>
    <p><strong>Party Leader</strong> = mentions points * 1</p>
    <p><strong>Cabinet</strong> = mentions points * 2</p>
    <p><strong>Shadow Cabinet</strong> = mentions points * 3</p>
    <p><strong>Backbencher</strong> = mentions points * 4</p>
    <p><strong>Other</strong> = mentions points * 5</p>
    <br>
    <p>So if <strong>Theresa May</strong> gets 550 mentions in a day, her score will be 6.</p>
    <p>However, if <strong>Chuka Umunna</strong> gets 550 mentions in a day, his score will be 24.</p>
    <p>Therefore, it is wise to <strong>have a a mix</strong> of high-ranking and low-ranking politicians in your cabinet, as if someone low-ranking gets significant publicity they could really boost your score.</p>
  </div>
</div>
<div class="instructions">
  <p>Parties by colour:
  <i class="fas fa-square greens"></i> Green
  <i class="fas fa-square labour"></i> Labour
  <i class="fas fa-square conservative"></i> Conservative
  <i class="fas fa-square ukip"></i> UKIP
  <i class="fas fa-square snp"></i> SNP
  <i class="fas fa-square lib-dem"></i> Liberal Democrates </p>
</div>


  <p class="text-allign-center">Choose wisely! Happy politicking. </p>

