<h2>Instructions</h2>
 <p>The scoring is done on the number of mentions in the news - any publicity is good publicity!</p>

<div class="grid-container2">
  <div class="item1">
      <p>1 - 100 mentions = 1 point</p>
      <p>101 - 200 mentions = 2 points</p>
      <p>201 - 300 mentions = 3 points</p>
      <p>301 - 400 mentions = 4 points</p>
      <p>401 - 500 mentions = 5 points</p>
      <p>501 - 600 mentions = 6 points</p>
      <p>601 - 700 mentions = 7 points</p>
      <p>701 - 800 mentions = 8 points</p>
      <p>801 - 900 mentions = 9 points</p>
      <p>901 - 1000 mentions = 10 points</p>
      <p>Anything more than 1001 mentions = 11 points</p>
  </div>
  <div class="item2 allign-left">
    <p>Politicians like the Prime Minister will of course be scoring highly, because of their prominent public status. So to even out the playing field, scores are factored as follows:</p>
  </div>
  <div class="item3 allign-left">
      <p>Party Leader = mentions points * 1</p>
      <p>Cabinet = mentions points * 2</p>
      <p>Shadow Cabinet = mentions points * 3</p>
      <p>Backbencher = mentions points * 4</p>
      <p>Other = mentions points * 5</p>
    </div>
  <div class="item4 allign-left">
    <p>So if Theresa May gets 550 mentions in a day, her score will be 6.</p>
    <p>However, if Chuka Umunna gets 550 mentions in a day, his score will be 24.</p>
    <p>Therefore, it is wise to have a a mix of high-ranking and low-ranking politicians in your cabinet, as if someone low-ranking gets significant publicity they could really boost your score.</p>
  </div>
  <div class="item5">
    <p class="allign-left">
    <h4>Choose wisely! Happy politicking. </h4></p>
  </div>
</div>
