<div class="container">
  <div class="row">
    <h1 id="title">Instructions</h1>
  </div>
  <div class="row">
    <p>The scoring is done on the number of mentions in the news - any publicity is good publicity!</p>
    <ul>
      <li>1 - 100 mentions = 1 point</li>
      <li>101 - 200 mentions = 2 points</li>
      <li>201 - 300 mentions = 3 points</li>
      <li>301 - 400 mentions = 4 points</li>
      <li>401 - 500 mentions = 5 points</li>
      <li>501 - 600 mentions = 6 points</li>
      <li>601 - 700 mentions = 7 points</li>
      <li>701 - 800 mentions = 8 points</li>
      <li>801 - 900 mentions = 9 points</li>
      <li>901 - 1000 mentions = 10 points</li>
      <li>Anything more than 1001 mentions = 11 points</li>
    </ul>

    <p>Politicians like the Prime Minister will of course be scoring highly, because of their prominent public status. So to even out the playing field, scores are factored as follows:</p>

    <ul>
      <li>Party Leader = mentions points * 1</li>
      <li>Cabinet = mentions points * 2</li>
      <li>Shadow Cabinet = mentions points * 3</li>
      <li>Backbencher = mentions points * 4</li>
      <li>Other = mentions points * 5</li>
    </ul>

    <p>So if Theresa May gets 550 mentions in a day, her score will be 6.</p>
    <p>However, if Chuka Umunna gets 550 mentions in a day, his score will be 24.</p>
    <p>Therefore, it is wise to have a a mix of high-ranking and low-ranking politicians in your cabinet, as if someone low-ranking gets significant publicity they could really boost your score.</p>
    <p>Choose wisely! Happy politicking. </p>
  </div>
</div>

