<div class="container">

  <div class="row">
    <h2>Your Leagues</h2>
  </div>

  <div class="row">
    <div class="col-md-10">
     <% current_user.leagues.each do |league| %>
      <%= link_to league_path(league) do %>
        <h3><%= league.name %></h3>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="name">
    <div class="col-md-10">
      <%= link_to new_league_path do %>
        <p>Create your own league</p>
      <% end %>
    </div>
  </div>
</div>
