<h2>Your Leagues</h2>
<% current_user.leagues.each do |league| %>

  <%= link_to league_path(league) do %>
    <h3><%= league.name %></h3>
  <% end %>

<% end %>
<%= link_to new_league_path do %>
  <p>Create your own league</p>
<% end %>
