<div class="container">
  <h2>Choose your members</h2>

  <% @politicians.each do |politician| %>
    <%= politician.first_name %> <%= politician.last_name %>

    <%= link_to(political_party_politician_links_path(@political_party, politician_link: {politician_id: politician.id, political_party_id: @political_party.id}), {method: :post}) do %>
      Add
    <% end %>


  <% end %>
</div>
