/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: fixed;
  width: 100vw;
  margin: 0;
  text-align: center;
  background: rgba(0,0,0,0.01);
  color: white;
  border: 0;
  border-radius: 0;
}
.alert-info {
  background: rgba(0,0,0,0.01);
  color: white;
  border: 0;
}
.alert-warning {
  background: rgba(0,0,0,0.01);
  color: white;
  border: 0;
}



