.league-card {
  background-color: #3E3E3E;
  color: rgba(255,255,255,0.7);
  // max-width: 600px;
  border-bottom: 1px solid #2E2E2E;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  // border-radius: 3px;
}

.league-card:hover {
  background-color: #DB5461;
}

.user-profile-photo{
  min-height: 200px;
  min-width: 150px;
  border-radius: 8px;
  background-size: cover;
  box-shadow: 1px 1px 10px #342633;
}
