.item1 { grid-area: header; }
.item2 {
  grid-area: menu;
  min-height: 300px;
}
.item3 {
  grid-area: main;
  line-height: 38px;
}
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container1 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
  border: 2px solid #616161;
  border-radius: 8px;
}
.grid-container1 > div {
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 1em;
}
.cover-background{
  min-height: 200px;
  min-width: 150px;
  background-size: cover;
  word-wrap: break-word;
}
header{
  font-weight: lighter;
  text-align: center;
}

header,
article,
footer {
  background: rgba(0,0,0,0.1);
  padding: 1em;
  border-radius: 8px;
    left: 0%;
    top: -1%;
}

footer{
  height: 70px;
}

header, footer {
  grid-column: 1 / 4;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

.allign-left{
  text-align: left;
  font-weight: lighter;
  line-height: 28px;
}

.grid > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0,0,0,0.01);
}

.grid3 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 1em;
header,
article,
footer {
  background: rgba(0,0,0,0);
  padding: 1em;
  border-radius: 8px;
  word-wrap: break-word;
}
header{
  text-align: center;
}
}

.grid3 > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0,0,0,0.001);
}

.grid2 {
  display: grid;
  grid-template-columns: 300px auto auto;
  grid-template-rows: auto;
  grid-gap: 1em;

}

.grid2 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.01);
}

.grid-container{
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: auto;
  color: #C4C4C4;
  padding: 10px;
  margin: 10px;
}

.score{
  color: #DB5461;
  font-size: 18px;
  line-height: 19px;
  font-weight: lighter;
}

.score-number{
  font-size: 50px;
  line-height: 51px;
  font-weight: lighter;
}

.party-members{
  text-align: left;
  color: #DB5461;
  font-size: 18px;
  line-height: 19px;
  font-weight: lighter;
}

.party-members:hover{
  color: #C4C4C4;
}

.party-members-count{
  text-align: left;
  font-weight: lighter;
  line-height: 51px;
}

.parties-count{
  text-align: right;
  color: #C4C4C4;
  font-weight: lighter;
}

