.card-container {
  width: 250px;
  height: 350px;
  position: relative;
  perspective: 800px;
  border-radius: 6px;
  margin: 25px 20px;
}
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  box-shadow: 0 1.5px 4px rgba(0,0,0,0.15);
  cursor: pointer;
  div {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    // background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    h1 {
      font-family: "Lato", sans-serif;
    }
  }
  .back {
    transform: rotateY(-180deg);
  }
  &.flipped {
    transform: rotateY(-180deg);
  }
}

.cards-body {
  height: 100%;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front {
  background-size: cover;
  #first {
    position: absolute;
    bottom: -5px;
    padding: 16px;
  }
  #last {
    position: absolute;
    bottom: -36px;
    padding: 16px;
  }
  h2 {
    color: white;
    font-size: 32px;
  }
  .politician-image {
    background-size: cover;
    position: relative;
    top: -40px;
    height: 270px;
    width: 100vw;
    box-shadow: 0px 1.5px 4px rgba(0,0,0,0.2);
    border-radius: 6px 6px 0 0;
  }
}

.back {
  background-color: white;
  h2 {
    color: rgba(0,0,0,0.9);
    position: absolute;
    top: 0px;
  }
  p {
    color: rgba(0,0,0,0.9);
    position: absolute;
    top: 64px;
    margin: 12px;
  }
}


.add {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #9ce37d;
  &:hover {
    color: #72a65b;
  }
}

// #caroline-add {
//   color: #80ba67;
//   &:hover {
//     color: #567c45;
//   }
// }

.minus {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #8c5383;
  &:hover {
    color: #3b1e4e;
  }
}
