table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
td{
  a{
    font-weight: lighter;
    color: #DB5461;
  }
}

tr:nth-child(even) {
    background-color: #292929;
}
